@media (max-width: 1199px) {
  #event {
    margin-top: 160px; /* 또는 padding-top: 130px; */
  }
}

.premium_div, .upcycling_div, .minimal_div {
  background-size: cover;
  background-position: center;
}

.review_title{
    font-size:30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.review_title h4{
    font-size:30px;
    font-weight: bold;
}

.review_swiper {
    width:100%;
    max-width: 1500px;
    height: 600px;
    margin-bottom: 50px;
}

.review_swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #EDDFDF;
    /*display: flex;*/ /*가로 또는 세로 방향으로 자동 정렬되고 배치됩니다.*/
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    /* 내부 콘텐츠의 최소 너비 확보 */
    min-width: 300px;
}

.review_swiper .swiper-button-next,
.review_swiper .swiper-button-prev {
    color: white !important;
    user-select: none;
    position: absolute;
}  

.review1{
    background-image: url(../img/review1.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review1_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review1_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}
.review1_star_display{
    /*width: 70%;*/
    /*height :10%;*/
    /*height: 50%;*/
    /*display: flex; */           /* 가로 정렬 시작 */
    /*gap: 0px; */               /* 박스 사이 간격 (선택) */
    margin-bottom: 10px;
}
.review1_star{
    background-image: url(../img/star.png);
    /*width: 100%;*/
    /*height: 100%;*/
    width:30px;
    height:31px;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/  /* 배경 이미지 반복 안함 */
}
.review_footer{
    font-family: 'Pretendard';
    font-size: 15px;
    font-weight: 500; /* medium에 해당 */
    color:#8D8989;
}



.review2{
    background-image: url(../img/review2.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review2_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review2_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}

.review3{
    background-image: url(../img/review3.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review3_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review3_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}
.review4{
    background-image: url(../img/review4.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review4_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review4_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}
.review5{
    background-image: url(../img/review5.jpg);
    width: 100%;
    height: 50%;
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;  /* 배경 이미지 반복 안함 */
    margin-bottom: 20px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.review5_title{
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 500; /* medium에 해당 */
    margin-bottom: 20px;
}
.review5_content{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500; /* medium에 해당 */
    text-align: left;
    margin-bottom: 10px;
    height:150px;
}
/* 작은 화면 (모바일) - 버튼 안쪽으로 더 넣기 */
@media (max-width: 1420px){
    .review_swiper {
        position: relative; /* 기준 컨테이너 */
        overflow: hidden;
    }

    .review-swiper .swiper-button-prev ,   
    .review-swiper .swiper-button-next {
      left:20%;  
      right:20%;
    }
}
/* 작은 화면 (모바일) - 버튼 안쪽으로 더 넣기 */
@media (max-width: 320px) {
    .review_swiper {
        position: relative; /* 기준 컨테이너 */
        overflow: hidden;
    }

    .review-swiper .swiper-button-prev ,   
    .review-swiper .swiper-button-next {
      left:20%;  
      right:20%;
    }
}
.wrapper_btn{
    text-align: right;
    margin-bottom: 20px;
    max-width: 90%;
}
.review_btn{
    background-color: #713131;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}
.review_btn:hover{
    background-color: white;
    color: #713131;
}
.review_btn svg{
    fill: white;
}
.review_btn:hover svg{
    fill: #713131;
}

.review_instar_btn{
    background-color: #713131;
    color: white;
    width:280px; 
    height: 50px;   
    border-radius: 30px;
}
.review_instar_btn:hover{
    background-color: white;
    color: #713131;
}
.review_instar_btn:hover svg path{
    fill: #713131;
}
.review_bold {
  font-weight: bold;  /* 또는 숫자로: 600, 700 등 */
}
.review_word{
    display: flex;
    background-color: #F6F1EB;
    color:#713131;
    justify-content: center;    /* 가로 중앙 정렬 */
    height:100px;
    align-items: center;
    font-size:20px;
}
// .lineup_picture1_wrapper{
//     // position: relative;
//     // width: 960px;
//     // height: clamp(150px,1vw + 150px,700px);
//     // overflow: hidden;
// }
.lineup_picture1{
    background-image: url(../img/lineup_picture1.jpg);
    background-size: auto 100% ;
    background-position: center;
    // width: 100%;
    // height: 100%;
    // background-repeat: no-repeat;
    // opacity: 0.3;
    // z-index: 0;
    // background-size: cover;
    // position: absolute;
    @media (min-width:500px) {      
      background-position: center;
      background-size: 100%;
    }
    @media (min-width:1200px) {      
      background-position: center;
      background-size: 100% auto ;
    }
  
  
}




.lineup_picture1_content p{
//   margin: 0;

  white-space: pre-line; /* br 줄바꿈만 반영 */
  line-height: 0.5; /* 줄간격 줄이기 */
}
.lineup_picture1_content strong {
  font-weight: bold;
  line-height: 1.1; /* strong 안 줄간격도 줄이기 */
}
// .lineup_picture1_arrow{
//     background-image: url(../img/lineup_picture1_arrow.png);
// }
// .lineup_picture2_wrapper{
//     // position: relative;
//     // width: 960px;
//     // height: 350px;
//     // overflow: hidden;    
// }
.lineup_picture2{
    background-image: url(../img/lineup_picture2.jpg);
    background-size: auto 100%;  
    @media (min-width:500px) {      
      background-size: 100%; 
    }
    @media (min-width:1200px) {      
      background-position: center;
      background-size: 100% auto;
    }
    
    // width:100%;
    // height:100%;
    // background-repeat: no-repeat;
  
  
    // background-size: cover;
    // position: absolute;

}
// .dark-overlay {
// //   position: absolute;
// //   top: 0;
// //   left: 0;
// //   width: 100%;
// //   height: 100%;
//   background-color: rgba(0, 0, 0, 0.4); /* 어두운 반투명 레이어 */
//   z-index: 1;
//   pointer-events: none; /* 클릭 이벤트 무시 */
// }

.lineup_picture1_content{
  // position: relative;
  // z-index: 1; /* 텍스트가 위에 보이게 */
  color: #713131;
  // text-align: center;
  // margin-top:clamp(70px,1vw + 65px,350px);
  font-size: clamp(12px,1vw + 11px,30px);
  // display: flex;
  gap: clamp(10px,1vw + 9px, 70px);
  // align-items: center;
  // justify-content: center;
  flex-wrap: nowrap; /* 줄바꿈 방지 */
}
.lineup_picture2_content{
    // position: relative;
    // z-index: 1; /* 텍스트가 위에 보이게 */
    // color: white;
    // text-align: center;
   
    font-size: clamp(12px,1vw + 11px,30px);
    // display: flex;
    gap: clamp(10px,1vw + 9px, 70px);
    // align-items: center;
    // justify-content: center;
    flex-wrap: nowrap; /* 줄바꿈 방지 */
}

// .lineup_picture3_wrapper{
//     // position: relative;
//     // width: 960px;
//     // height: 350px;
//     // overflow: hidden;    
// }
.lineup_picture3{
    background-image: url(../img/lineup_picture3.jpg);
    background-size: 100%;
    // width:100%;
    // height:100%;
    // background-repeat: no-repeat;
    // opacity: 0.5;
    // z-index: 0;
    // background-size: cover;
    // position: absolute;    
}

// .lineup_picture2_p{
//     margin-bottom: 0;
// }
// .lineup_picture3_p{
//     margin-bottom: 0;
// }

#lineup{
  .bg-cover{
    position: relative;
    &:before{
      content: "";
      opacity: 2;
      transition: 0.5s;
      display: block;
      position: absolute;
      left:0; right:0; top:0; bottom:0;
      background-color: rgba(165, 165, 165, 0.5);
    }
    &:hover:before{
      opacity: 1;
    }

  }

  img{
    width: 24px;
    height: 14px;
    @media (min-width:600px) {      
      width: 50px;
      height: 23px;
    }
    @media (min-width:1200px) {      
      width: 90px;
      height: 51px;
    }
  }
}


#footer{

    
    // .footer_wrapper {
    //     padding: 180px 70px 100px 70px;
    // }
    // .footer
    p, a {
        font-size: clamp(12px, 1vw + 10px ,15px);
    //   color: white;
    }    
    // .footer_d-flex-custom{
    //     gap:80px;
    // }
    // .footer_customer_center
    strong {
        font-size: clamp(14px, 1vw + 12px ,20px);
        //   color: white;
    }

}
