:root {
  --basic--text: #000;
  --main--point-color: #713131;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--basic--text);
}

.line-height-1 {
  line-height: 1;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}


.container_1280 {
  max-width: 1280px;
  margin: 0 auto;
}

.container_1450 {
  max-width: 1450px;
  margin: 0 auto;
}

.container_1650 {
  max-width: 1650px;
  margin: 0 auto;
}

.container_1920 {
  max-width: 1920px;
  margin: 0 auto;
}

.section_p {
  padding: 3rem 0;
}
@media (min-width: 1280px) {
  .section_p {
    padding: 50px 0;
  }
}
@media (min-width: 1450px) {
  .section_p {
    padding: 50px 0;
  }
}
@media (min-width: 1650px) {
  .section_p {
    padding: 100px 0;
  }
}
@media (min-width: 1920px) {
  .section_p {
    padding: 100px 0;
  }
}

.tag {
  font-family: "Pretendard-500";
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  font-size: 25px;
  display: inline-block;
}

.product_card {
  max-width: 300px;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.product_card .prod_name {
  font-family: "Pretendard-700";
  font-size: 25px;
  margin-top: 19.495px;
}
.product_card .product_price_set {
  margin-top: 20px;
}
.product_card .prod_cost {
  font-family: "Pretendard-500";
  font-size: 20px;
  color: #adadad;
  text-decoration: line-through;
}
.product_card .prod_price {
  font-family: "Pretendard-700";
  font-size: 25px;
  color: var(--main--point-color);
}

.icon_group {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  gap: 5px;
  font-family: "Pretendard-700";
  color: white;
  font-size: 15px;
}
.icon_group strong {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_group .eco {
  background-color: #777255;
}
.icon_group .sale {
  background-color: var(--main--point-color);
}

.ul-font {
  font-family: "Pretendard-400";
}

.main_point_bg {
  background-color: #713131;
}

.gnb_li_a {
  text-decoration: none;
}

#hd {
  padding: 1rem 0;
}

.premium_div, .upcycling_div, .minimal_div {
  background-size: cover;
  background-position: center;
}

.minimal_div {
  background-image: url(../img/minimal.jpg);
}

.minimal_main_text {
  font-size: 130px;
  color: #713131;
  margin-top: 450px;
  font-family: "Pretendard-700";
  margin-left: 80px;
  margin-bottom: 75px;
}

.minimal_middle_text {
  font-size: 64px;
  color: #713131;
  margin-top: 64px;
  margin-left: 32px;
  font-family: "Pretendard-700";
}

.minimal_bottom_text {
  font-size: 30px;
  color: #713131;
  margin-left: 32px;
  font-family: "Pretendard-400";
}

.upcycling_div {
  background-image: url(../img/upcycling.jpg);
}

.upcycling_main_text {
  transform: rotate(-90deg);
  transform-origin: left top;
  margin-top: 690px;
  font-size: 130px;
  color: white;
  font-family: "Pretendard-700";
}

.upcycling_middle_text {
  font-size: 55px;
  color: white;
  margin-top: -180px;
  margin-left: 32px;
  font-family: "Pretendard-700";
}

.upcycling_bottom_text {
  font-size: 30px;
  color: white;
  margin-left: 32px;
  font-family: "Pretendard-400";
}

.premium_div {
  background-image: url(../img/primium.jpg);
}

.premium_main_text {
  font-size: 130px;
  color: white;
  margin-top: 50px;
  font-family: "Pretendard-700";
}

.premium_middle_text {
  font-size: 64px;
  color: white;
  margin-top: 450px;
  text-align: right;
  font-family: "Pretendard-700";
}

.premium_bottom_text {
  font-size: 30px;
  color: white;
  text-align: right;
  font-family: "Pretendard-400";
}