#upcycling .img_bg {
  background-color: #f5f5f5;
}
#upcycling .event {
  width: 667px;
  background-image: url("../img/product/event2_main.jpg");
  background-size: auto 100%;
}
#upcycling .event_main_title2 {
  font-size: 100px;
  margin-bottom: 20px;
  font-family: "Pretendard-700";
}
#upcycling .event_title2 {
  font-size: 36px;
  margin-bottom: 20px;
}
#upcycling .event_serve_title2 {
  font-size: 24px;
  line-height: 1.5;
}
#upcycling .img_title {
  padding-left: 50px;
}
#upcycling .product_set {
  max-width: 650px;
}
#upcycling .product_set img {
  width: 300px;
  height: 300px;
}
#upcycling .product_card {
  max-width: 301px;
  max-height: 374px;
  margin-bottom: 50px;
}
#upcycling .product_card1 img, #upcycling .product_card2 img, #upcycling .product_card4 img {
  transform: translateY(-20px);
}
#upcycling .product_card3 img {
  transform: translateY(-40px);
}
#upcycling .product_price_set {
  margin-top: 20px;
}
#upcycling .textbadge {
  gap: 13px;
}
#upcycling .tag2 {
  background-color: rgba(29, 34, 12, 0.5843137255);
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 25px;
  line-height: var(--bs-body-line-height);
}
#upcycling .percent {
  font-size: 100px;
  font-family: "Pretendard-700";
}
#upcycling .ecombt1 {
  padding: 30px;
}
#upcycling .ecombt2 {
  padding: 30px;
  max-width: 667px;
  max-height: 140px;
}
#upcycling .banner_set {
  margin-top: 70px;
  gap: 10px;
}
#upcycling .banner_set strong {
  font-size: 24px;
  line-height: 1.5;
}
#upcycling .banner_set span {
  font-size: 15px;
  line-height: 1.5;
}
#upcycling .banner_eco1,
#upcycling .banner_eco2 {
  padding: 23px 20px;
  background-size: 100%;
}
#upcycling .banner_eco1 {
  background-image: url(../img/eco_banner2.jpg);
}
#upcycling .banner_eco2 {
  background-image: url(../img/eco_banner1.jpg);
}
#upcycling .h300 {
  height: 300px !important;
}